<form action="/searches" method="get">
  <label>Search Beastie Boys Albums by Year:</label>
  <input type="text" name="album_year"/>

  <input type="submit" name="submit" value="Search"/>
</form>

<p>You searched for Beastie Boys albums in <%= @album_year%>.</p>

<% @albums.each do |album|%>
 <p>In <%= @album_year%>, the album released was "<%= album.name %>".</p>
<% end %>

<% if @albums.empty? %>
  <p>There are no albums for that year.</p>
<% end %>

<form action="/searches" method="get">
  <label>Search Beastie Boys albums by album name:</label>
  <input type="text" name="album_name"/>

  <input type="submit" name="submit" value="Search"/>
 </form>
