h1 {
  margin: 0.25in;
  font: bold 35px arial;
  color: #333366;
}

img {
  margin: 25px;
}

form {margin: 25px;
      font: 20px arial;
      color: #333366;}

p {margin: 25px;
   font: 20px arial;
   color: #333366;}
